.div-box {
  border-bottom: solid 2px rgba(0, 0, 0, 0.075);
  padding-left: 10px;
  background-color: #ffffff;
}
.tab-panel{
  height: max-content;
}
.botao-cadastro-usuario {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
.div-filtro {
  width: 600px;
  margin: auto;
  margin-top: 15px;
}
.div-cadastro {
  display: flex;
  justify-content: space-between;
  width: 90px;
  height: max-content;
  position: fixed;
  top: 120px;
  left: 14vw;
}

@media (max-width: 1080px) {
  .div-cadastro {
    width: 100%;
    padding-right: 1rem;
    justify-content: flex-end;
    top: 10px;
    left: 0;
    
  }
}

@media(max-width:600px){
  .div-filtro {
    width: 100%;
  }

}
