.div-botao-subir-edicao{
  position: absolute;
  z-index: 10;
  bottom: 150px;
  right: 26px;
  height: 50px;
  width: 50px;
  background-color: #2f97ff;
  color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: SubirEdicao 1s;
  cursor: pointer;
}
@keyframes SubirEdicao{
  from{
    bottom: 23px;
  }
  to{
    bottom: 150px;
  }
}
.div-botao-descer-edicao{
  position: absolute;
  bottom: 23px;
  right: 26px;
  height: 50px;
  width: 50px;
  background-color: #2f97ff;
  color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: DecerOpcao 1s;
}
@keyframes DecerOpcao{
  from{
    bottom: 150px;
  }
  to{
    bottom: 23px;
  }
}
.div-botao-subir-edicao-possivel-editar{
  position: absolute;
  z-index: 10;
  bottom: 150px;
  right: 26px;
  height: 50px;
  width: 50px;
  background-color: #2fff86;
  color: #242424;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: SubirEdicao 1s;
  cursor: pointer;
}