.div-botao-subir-deletar{
  position: absolute;
  z-index: 10;
  bottom: 210px;
  right: 26px;
  height: 50px;
  width: 50px;
  background-color: #2f97ff;
  color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: SubirDeletar 1s;
  cursor: pointer;
}
@keyframes SubirDeletar{
  from{
    bottom: 23px;
  }
  to{
    bottom: 210px;
  }
}
.div-botao-descer-deletar{
  position: absolute;
  bottom: 23px;
  right: 26px;
  height: 50px;
  width: 50px;
  background-color: #2f97ff;
  color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: DescerDeletar 1s;
}
@keyframes DescerDeletar{
  from{
    bottom: 210px;
  }
  to{
    bottom: 23px;
  }
}