.rounded-circle {
  width: 30px;
  height: 60px;
}
.botao-cancelar{
  position: absolute;
  top: 10px;
  cursor: pointer;
}
.tooltip-cadastro-usuario{
  background-color: #1976D2 !important;
  color: #f0f0f0 !important;
  transition: 1s ease !important;
  width: max-content;
}
.tooltip-cadastro-usuario:hover{
  background-color: #188cff !important;
  transform: scale(1.05);
}

@media(max-width:1080px){
  .div-cadastro-usuario{
    margin-right: 0.5rem;
  }
}
