.botao-nome-filtro{
  background-color: rgba(160, 160, 160, 0.514);
  border: none;
  color: black;
}
.botao-nome-filtro:hover{
  background-color: rgba(107, 107, 107, 0.514);
  color: black;
  border: none;
}

