.TableHead{
background-color: aqua;  
}
.table-container{
  max-width: 80vw;
  height: 62vh;
  margin: auto;
}
.table-container::-webkit-scrollbar{
  width: 0.1px;
}
.opcoes-editar-deletar{
  position: relative;
}
.esconder-opcoes{
  display: none;
}
.classe-id-tabela{
  width: 20px;
  
}
.acoes-tabela-usuario{
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.titulo-coluna{
  cursor: pointer;
}
.icone-criar-arquivo-csv{
  position: fixed;
  bottom: 22px;
  left: 2vw;
}