.TableHead{
background-color: aqua;  
}
.table-container{
  max-width: 80vw;
  height: 65vh;
  margin: auto;
}
.table-container::-webkit-scrollbar{
  width: 0.1px;
}
.opcoes-editar-deletar{
  position: relative;
}
.esconder-opcoes{
  display: none;
}
.classe-id-tabela{
  width: 20px;
  
}
.possivel-excluir-essa-linha:hover{
  transform: scale(1.01);
  background-color: rgba(255, 0, 0, 0.178) !important;
  cursor: pointer;
}
.possivel-editar-essa-linha:hover{
  transform: scale(1.01);
  background-color: rgba(21, 255, 0, 0.432) !important;
  cursor: pointer;
}