.tooltip-download-lista{
  background-color: #1976D2 !important;
  color: #f0f0f0 !important;
  transition: 1s ease !important;
  width: max-content;
}
.tooltip-download-lista:hover{
  background-color: #188cff !important;
  transform: scale(1.05);
}
/* .div-download-lista{
  width: max-content;
  height: max-content;
  position: fixed;
  top: 120px;
  left: 14vw;
} */
