.TableHead{
background-color: aqua;  
}
.table-container{
  max-width: 80vw;
  height: 62vh;
  margin: auto;
}
.table-container::-webkit-scrollbar{
  width: 0.1px;
}
.acoes-tabela-usuario{
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titulo-coluna{
  cursor: pointer;
}
.no-white-space{
  white-space: nowrap;
}